@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif&display=swap');

html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Noto Sans Jp', sans-serif;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6, title {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: 'Noto Serif', sans-serif;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
img {
	vertical-align: middle;
}
ol, ul {
	list-style: none;
}
body, html {height: 100%;}
body{
	margin:0;
	color:#fffae2;
	font:18px Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: none; 
}
img{border-style:none; vertical-align: top;}
a{text-decoration:none; color:#fffae2;}
a:hover{text-decoration:underline;}
#wrapper{
	width:100%;
	height: 100%;
	display:table;
}
.wrapper-holder {
	width:100%;
    display:table-row;
    background: #820000;
}
.wrapper-holder.grey{background: #2b2c28;}
#header {
	max-width: 1170px;
	margin: 45px auto 0;
	padding: 65px 0 50px;
	position:relative;
}
.header_other{
    max-width: 1170px;
	margin: 0 auto;
	padding: 65px 0 25px;
	position:relative;
}
.menu_trigger{
	width: 31px;
	height: 31px;
	right:0;
	background: url(../images/btn_mobile_menu.png) no-repeat;
	text-indent: -9999em;
	display: none;
	top: 5px;
	position: absolute;
}
.logo {
	text-align:center;
	font-family: 'Noto Serif', serif;
	font-weight:bold;
	color: #fffae2;
	font-size: 72px;
	line-height: 74px;
	display: block;
	text-transform: uppercase;
	margin: 85px 0 23px;
}
#nav {
	position: relative;
	display: table;
	margin: 0 auto 22px;
	padding: 0 0 0 10px;
}
#nav ul {
	text-align: center;
}
#nav ul li {
	float: left;
	padding: 0 0 0 60px;
}
#nav ul li:first-child{padding: 0;}
#nav ul a {
	color: #58ab9e;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 0 10px;
	border-bottom: 4px solid #339989;
	font-family: 'Noto Serif', serif;
	font-weight: normal;
}
#nav ul a:hover{
	color: #fffae2;
	border-bottom: 4px solid #fffae2;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
#nav ul a.active{
    	color: #fffae2;
	border-bottom: 4px solid #fffae2;
	text-decoration: none;
}
h2.slogan{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Noto Serif', serif;
	font-size: 30px;
	line-height: 32px;
	color: #58ab9e;
	padding: 34px 0 50px 0;
    border-bottom: 7px solid #58ab9e;
    margin: auto 320px
}
/*main*/
#main{
	max-width: 1170px;
	margin: 0 auto;
	padding: 93px 0 76px;
	position:relative;
}
#main h2{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Noto Serif', serif;
	font-size: 30px;
	line-height: 32px;
	color: #fffae2;
	margin: 0 0 81px;
}
#me{
    transform:rotate(90deg);
    border-radius:75px;
}

/*portfolio*/
.item-list {
	text-align:center;
	margin: 0 0 0 -24px;
}
.item-list li {
	display:inline-block;
	margin: 0 0 25px 24px;
	vertical-align: top;
}
.item {
	text-align: center;
	width: 270px;
	margin: 0 auto;
}
.item .image {
	position: relative;
}
.item .image img {
	max-width: 100%;
	height:auto;
	border-radius: 20px;
}
.hover {
    display: block;
	height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    background: #131515;
	opacity: 0.95;
	border-radius: 20px;
    overflow: visible;
    visibility: hidden;
}
#peril_hover {
    height:321px;
}
#punchout_hover {
    height: 345px
}
#teemin_hover {
    height: 345px;
}
#dagger_hover {
    height: 343px;
}
.hover:hover {
    visibility: visible;
}
.image:hover > .hover {
    visibility: visible;
}
.item-content {
    color: #fffae2;
    height: 100%;
    width: 100%;
}
.item-content h3 {
    padding: 10px 0;
    font-size: .95em;
}
.item-content p {
    padding: 0 10px 10px;
    font-size: .9em
}
.item-content a {
    padding: 0 10px 10px;
    text-decoration:underline;
    transition: color .25s ease-in-out;
}
.item-content a:hover {
    color: #58ab9e;
}
.repo {
    float: left;
}
.build {
    float: right;
}
.item-content time{
    font-size: 0.85em;
    padding: 0 0 10px;
}
/*contact*/
.clear{clear: both;}
.images_holder{
	float: left;
	margin:5px 130px 0 0;
	width: 370px;
}
.images_holder img{
	width: 100%;
	height: auto;
	display: inline;
}
.box_contact{
	overflow:hidden;
	margin: 54px 0 0 0;
}
.box_contact span{
	color: #fffae2;
	font-family: 'Noto Serif', serif;
	font-size: 30px;
	line-height: 32px;
	text-transform: uppercase;
	display: block;
	margin: 0 0 55px;
	padding: 5px 0 18px 80px;
}
/*footer*/
#footer {
    width:100%;
    overflow:hidden;
    display:table-footer-group;
    background:#fffae2;
}
.footer-content {
	max-width: 1170px;
	margin: 0 auto;
	padding: 100px 0 20px;
	color: #2b2c28;
}
#about {
    padding-top: 68px;
    padding-bottom: 50px;
}
}