@font-face {
    font-family: 'novecentosanswide';
    src: url('../fonts/novecentosanswide-normal-webfont.eot');
    src: url('../fonts/novecentosanswide-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentosanswide-normal-webfont.woff') format('woff'),
         url('../fonts/novecentosanswide-normal-webfont.ttf') format('truetype'),
         url('../fonts/novecentosanswide-normal-webfont.svg#novecento_sans_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'novecentosanswide';
    src: url('../fonts/novecentosanswide-bold-webfont.eot');
    src: url('../fonts/novecentosanswide-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentosanswide-bold-webfont.woff') format('woff'),
         url('../fonts/novecentosanswide-bold-webfont.ttf') format('truetype'),
         url('../fonts/novecentosanswide-bold-webfont.svg#novecentosanswidebold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'novecento_sans_widebook';
    src: url('../fonts/novecentosanswide-book-webfont.eot');
    src: url('../fonts/novecentosanswide-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentosanswide-book-webfont.woff') format('woff'),
         url('../fonts/novecentosanswide-book-webfont.ttf') format('truetype'),
         url('../fonts/novecentosanswide-book-webfont.svg#novecento_sans_widebook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'novecento_sans_widemedium';
    src: url('../fonts/novecentosanswide-medium-webfont.eot');
    src: url('../fonts/novecentosanswide-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentosanswide-medium-webfont.woff') format('woff'),
         url('../fonts/novecentosanswide-medium-webfont.ttf') format('truetype'),
         url('../fonts/novecentosanswide-medium-webfont.svg#novecento_sans_widemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
	vertical-align: middle;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], label[for], select, 
input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

button, input[type=button], input[type=image], 
input[type=reset], input[type=submit] {
	padding: 0;
	overflow: visible;
	cursor: pointer;
}
input[type=text], input[type=email], input[type=reset], input[type=button], input[type=submit], button{
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
input[type=url], input[type=password], input[type=text], input[type=email], input[type=reset], input[type=button], input[type=submit], button, textarea{
     -webkit-appearance: none;
     -webkit-border-radius: 0;
     box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

button::-moz-focus-inner, 
input[type=button]::-moz-focus-inner, 
input[type=image]::-moz-focus-inner, 
input[type=reset]::-moz-focus-inner, 
input[type=submit]::-moz-focus-inner {
	border: 0;
}


body,
html {height: 100%;}
body{
	margin:0;
	color:#fffae2;
	font:18px Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: none; 
}
img{border-style:none; vertical-align: top;}
a{text-decoration:none; color:#fffae2;}
a:hover{text-decoration:underline;}
#wrapper{
	width:100%;
	height: 100%;
	display:table;
}
.wrapper-holder {
	width:100%;
    display:table-row;
    background: #820000/*#2e0854*/;
}
.wrapper-holder.grey{background: #2b2c28/*#28292b*/;}
#header {
	max-width: 1170px;
	margin: 45px auto 0;
	padding: 65px 0 50px;
	position:relative;
}
.header_other{
    max-width: 1170px;
	margin: 0 auto;
	padding: 65px 0 25px;
	position:relative;
}
.menu_trigger{
	width: 31px;
	height: 31px;
	right:0;
	background: url(../images/btn_mobile_menu.png) no-repeat;
	text-indent: -9999em;
	display: none;
	top: 5px;
	position: absolute;
}
.logo {
	text-align:center;
	font-family: 'novecentosanswide';
	font-weight:bold;
	color: #fffae2/*#fff*/;
	font-size: 72px;
	line-height: 74px;
	display: block;
	text-transform: uppercase;
	margin: 85px 0 23px;
}
#nav {
	position: relative;
	display: table;
	margin: 0 auto 22px;
	padding: 0 0 0 10px;
}
#nav ul {
	text-align: center;
}
#nav ul li {
	float: left;
	padding: 0 0 0 60px;
}
#nav ul li:first-child{padding: 0;}
#nav ul a {
	color: #58ab9e/*#aeecc2*/;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 0 10px;
	border-bottom: 4px solid #339989/*#62bb7f*/;
	font-family: 'novecentosanswide';
	font-weight: normal;
}
#nav ul a:hover{
	color: #fffae2/*#fff*/;
	border-bottom: 4px solid #fffae2/*#fff*/;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
#nav ul a.active{
    	color: #fffae2/*#fff*/;
	border-bottom: 4px solid #fffae2/*#fff*/;
	text-decoration: none;
}
h2.slogan{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'novecento_sans_widebook';
	font-size: 30px;
	line-height: 32px;
	color: #58ab9e/*#aeecc2*/;
	padding: 34px 0 50px 0;
    border-bottom: 7px solid #58ab9e;
    margin: auto 320px
}
/*main
 */
#main{
	max-width: 1170px;
	margin: 0 auto;
	padding: 93px 0 76px;
	position:relative;
}
#main h2{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'novecento_sans_widebook';
	font-size: 30px;
	line-height: 32px;
	color: #fffae2;
	margin: 0 0 81px;
}
#me{
    transform:rotate(90deg);
    border-radius:75px;
}

/*portfolio*/
.sub_nav {
	position: relative;
	display: table;
	margin: 0 auto 79px;
	padding: 0 0 0 10px;
	text-align: center;
}
.sub_nav li {
	padding: 0 0 0 45px;
	display: inline-block;
}
.sub_nav a {
	color: #fffae2;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	padding: 0 0 10px;
	border-bottom: 4px solid #fffae2;
	font-family: 'novecentosanswide';
	font-weight: normal;
}

/* begin add */
.sub_nav li {
	color: #fffae2;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	margin: 0 22px;
	padding: 0 0 10px;
	border-bottom: 4px solid #fffae2;
	font-family: 'novecentosanswide';
	font-weight: normal;
}
.sub_nav li:hover {
	color: #58ab9e;
	border-bottom: 4px solid #58ab9e;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.sub_nav .active {
    color: #58ab9e;
	border-bottom: 4px solid #58ab9e;
	text-decoration: none;
	cursor: pointer;
}
/* end add */
.item-list {
	overflow: hidden;
	text-align:center;
	margin: 0 0 0 -24px;
}
.item-list li {
	display:inline-block;
	margin: 0 0 25px 24px;
	vertical-align: top;
	font-size: 0;
}
.item {
	text-align: center;
	width: 270px;
	margin: 0 auto;
}
.item .image {
	position: relative;
}
.item .image img {
	max-width: 100%;
	height:auto;
	border-radius: 20px;
}
#peril_hover {
    display: none;
    margin-top: 44%;
    margin-left: 9%;
	height: 26%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    background: #131515;
	opacity: 0.95;
	border-radius: 20px;
    transition: display 2s ease-in-out;
	/*behavior: url(css/PIE.htc);*/
}
#punchout_hover {
    display: none;
    margin-top: 44%;
    margin-left: 43%;
	height: 29%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    background: #131515;
	opacity: 0.95;
	border-radius: 20px;
	/*behavior: url(css/PIE.htc);*/
}
#teemin_hover {
    display: none;
    margin-top: 28%;
    margin-left: 9%;
	height: 29%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    background: #131515;
	opacity: 0.95;
	border-radius: 20px;
	/*behavior: url(css/PIE.htc);*/
}
#dagger_hover {
    display: none;
    margin-top: 26%;
    margin-left: 43%;
	height: 31%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    background: #131515;
	opacity: 0.95;
	border-radius: 20px;
	/*behavior: url(css/PIE.htc);*/
}
#peril_hover:hover {
    display:block;
}
#punchout_hover:hover {
    display:block;
}
#teemin_hover:hover {
    display:block;
}
#dagger_hover:hover {
    display:block;
}
#peril_img:hover ~ #peril_hover {
    display: block;
}
#punchout_img:hover ~ #punchout_hover {
    display: block;
}
#teemin_img:hover ~ #teemin_hover {
    display: block;
}
#dagger_img:hover ~ #dagger_hover {
    display: block;
}
.item-content {
    padding: 20px;
}
.my_job {
    padding-top: 15px;
}
/*contact*/
.clear{clear: both;}
.images_holder{
	float: left;
	margin:5px 130px 0 0;
	width: 370px;
}
.images_holder img{
	width: 100%;
	height: auto;
	display: inline;
}
.box_contact{
	overflow:hidden;
	margin: 54px 0 0 0;
}
.box_contact span{
	color: #fffae2;
	font-family: 'novecento_sans_widebook';
	font-size: 30px;
	line-height: 32px;
	text-transform: uppercase;
	display: block;
	margin: 0 0 55px;
	padding: 5px 0 18px 80px;
}
/*footer
 */
#footer {
    width:100%;
    overflow:hidden;
    display:table-footer-group;
    background:#fffae2;
}
.footer-content {
	max-width: 1170px;
	margin: 0 auto;
	padding: 100px 0 20px;
	color: #2b2c28;
}
/* begin add	 */
.popup_portfolio{
	max-width: 1132px;
    display: none;
}
.popup_portfolio h3{
	padding-top:26px;
	font-family: 'novecentosanswide';
	font-weight:bold;
	color: #63666a;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}
.popup_portfolio time{
	font-family: 'novecentosanswide';
	color: #abacaf;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
}
.popup_portfolio p{
	padding: 17px 0 8px;
	color: #808286;
	font-size: 16px;
	line-height: 30px;
}
.popup_portfolio img {
	width: 100%;
	height: auto;
	border-radius: 8px;
}
#about {
    padding-top: 68px;
    padding-bottom: 50px;
}
/* end add	 */


/* begin add	 */
/* end add	 */
}